@charset "utf-8"

@import 'functions'
@import 'variables'

\:root
  // Card colors
  --card-font-color:                    #{mapGet($card-colors, font)}
  --card-background:                    #{mapGet($card-colors, background)}
  --card-star:                          #{mapGet($card-colors, star)}
  
  // Character colors
  --dark:                               #{mapGet($colors, dark)}
  --light:                              #{mapGet($colors, light)}
  --visible-image:                      0.3
  --visible-css:                        1
