@charset "utf-8"

@import 'https://fonts.googleapis.com/css2?family=Lobster&display=swap'

// General properties
$image: 'https://static2.wikia.nocookie.net/__cb20130904120518/es.pokemon/images/3/3d/Mega-Venusaur.png'
$layer: (one: 1, two: 2, three: 3)
$map: ()


// Card properties
$font: 'Lobster', cursive
$font-size: 30px

// Card colors
$card-colors: (star: #F7D012, background: #FFF, font: #000)


// Character colors
$colors: (light: #FFF, dark: #000, petal: #edb4b5, stigma: #f2cf90, leaf: #a3ccb3, leaf-dark: #114542, leaf-dark2: #005f50, leaf-dark3: #007d74, liana: #0f5b4b, body: #8bcfdc, body-dark: #6b9a9c, trunk: #896f4f, branch: #3e362d, ear: #944134, gum: #644e5b, tongue: #a76e6d, flower: #ecb1b0)
$shadow: (cortex: #574e42, flower: #e88b8f, petals: #e88b8f, liana: #0d4038, leaf:#70b58e, leaf2:#5c8867, body: #3d6e81)
$light: (cortex: #a99167, stigma:#ffe9ab, liana: #0a7d76, body: #aedae6, trademark: #5ba39d, tongue: #d3939c, spike: #abd9ee)


// Animations
$breathing: 7000ms
$animation-body: $breathing
$animation-head: 4500ms
$animation-head-components: $breathing
$animation-eyelid: 4000ms
$animation-foot: $breathing
$animation-leaf: $breathing
$animation-trunk: $breathing
$animation-lianas: $breathing
$animation-petal: $breathing
$animation-stigmas: $breathing